<% layout("/boilerplate") %>
<body>
  <h1>Sign-Up</h1>
  <form action="/signup" method="post">
    <input type="text" name="username" id="" placeholder="username" required />
    <input type="email" name="email" id="" placeholder="email" required />
    <input
      type="password"
      name="password"
      id=""
      placeholder="password"
      required
    />
    <button>SIGN UP</button>
  </form>
</body>
